/* ==========================================================================
   SITE STYLES
   ========================================================================== */

/**
 * Add your site styles here. Break things out to additional partials if you'd like
 * and add them in import.scss
 */
html {
    background: url('/images/bgr.png');
}

body, header, section, footer {
    background: transparent;
}

a, a:visited {
  color: blue;
  text-decoration: none;
}
 
a:hover {
  color: blue;
  text-decoration: underline;
}
.wrap {
    padding:0;
}
.site-title {
    background:url('/images/title_bgr.png') top left no-repeat;

    font-family: 'Arimo', sans-serif;
    text-align: left;
    margin: 0;
    height: 66px;

    h2 {
        color: #c00;
        font-size: 28px;
        font-weight: 400;
        margin: 0px;
        padding: 0px;

    }

    p {
        color: #ddd;
        font-size: 12px;
        padding: 0px;
        margin-top: -.1em;
    }
}

.nav {
    height: 66px;
    padding: 0;
    margin: 0;
    line-height: 1.33em;
    background-color: black;
    display: inline;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;

    
    a, a:visited {
        color:#ccc;
        padding: .1em .5em;
    }

    a:hover {
        color:#fff;
    }

    ul {
           display:inline;
        list-style-type: none;
        margin-left:-2em;
    }
    li {
        display:inline;
    }
}

.main {
    background-color: white;
    text-align: left;
    h1, h2, h3 {
        color: #444;
        font-family: 'Roboto', sans-serif;
    }
} 

h1.post-title, h2.page-title  {
    padding:1em 0 0 0;
    color:#999;
    font-size:28px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    text-align:left ;
    margin:0;
}

.gravatar, .qrcode {
    clear: both;
    float: right;
    margin: 0 0 0 1em;
    padding: 4px;
    border:1px solid rgba(100,100,100,.1);
    -moz-box-shadow:     0px 0px 4px 1px rgba(200,200,200,.5);
    -webkit-box-shadow:  0px 0px 4px 1px rgba(200,200,200,.5);
    box-shadow:         0px 0px 4px 1px rgba(200,200,200,.5);
}

.qrcode {
    float:left;
    margin:0 2.5em 2em 0;
}

.meta {
    padding:.1em .2em;
    color:rgba(155,155,155,.9);
    font-family: 'Arimo', sans-serif;
    font-size:10px;
}

.highlight {
    padding: 0;
    margin: 0;
}

.post, .page {
    text-align:justify;
}

.post a {
    color:blue;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

.post p, .page p {
    color: #777;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


.page {
    margin:0;
    h3 {
        font-size:18px;
    }
}

.posts {
    text-align:left;
    list-style-type: none;
    margin-left:-1em;
    padding:0;
    line-height:1.65em;

    li {
        font-size:16px;
    }

    .datums {
        font-size: 16px;
        color: rgba(0,0,0,0.5);
        margin-left: 1em;
    }

    .ieraksts {
        font-size: 16px;
        color: blue;
    }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
